div.row
  button.btn-primary(ng-click="open()") Add a Game
  div
    table.table.table-condensed.table-striped
      thead
        tr
          th Title
          th Votes
          th Vote
          th Owned?
      tbody
        tr(ng-repeat="game in wantedGames | orderBy:ordered:true", ng-model="game")
          th {{game.title}}
          th {{game.votes}}
          th
            button.btn(ng-click="vote(game)") Vote!
          th
            button.btn(ng-click="owned(game)") Owned?
